<div class="container text-align-center">
    <h1>{{city}} California</h1>
    <hr>

    <div class="left">
        <h5>Weather: {{status[0].description}}</h5>
        <h5>Humidity: {{weather.humidity}}</h5>
        <h5>Current Temp: {{weather.temp}} &#8457;</h5>
        <h5>Temp High: {{weather.temp_max}} &#8457;</h5>
        <h5>Temp Low: {{weather.temp_min}} &#8457;</h5>

    </div>

    <div class="right">
        <img src="https://www.sjsu.edu/_images/buildings/ADV_background-video_first-frame.jpg" alt="">

    </div>


</div>
