<div class="container text-align-center">
    <h1>{{city}} Washington</h1>
    <hr>

    <div class="left">
        <h5>Weather: {{status[0].description}}</h5>
        <h5>Humidity: {{weather.humidity}}</h5>
        <h5>Current Temp: {{weather.temp}} &#8457;</h5>
        <h5>Temp High: {{weather.temp_max}} &#8457;</h5>
        <h5>Temp Low: {{weather.temp_min}} &#8457;</h5>

    </div>

    <div class="right">
        <img src="https://www.gannett-cdn.com/presto/2019/02/01/USAT/2af52e69-3fd1-4438-99d7-487a9b51d03c-GettyImages-878868924.jpg" alt="">

    </div>


</div>
