<div class="container text-align-center">
    <h1>{{city}} Illinois</h1>
    <hr>

    <div class="left">
        <h5>Weather: {{status[0].description}}</h5>
        <h5>Humidity: {{weather.humidity}}</h5>
        <h5>Current Temp: {{weather.temp}} &#8457;</h5>
        <h5>Temp High: {{weather.temp_max}} &#8457;</h5>
        <h5>Temp Low: {{weather.temp_min}} &#8457;</h5>

    </div>

    <div class="right">
        <img src="https://s3-prod.chicagobusiness.com/s3fs-public/editorial-chicago-WEB_i.jpg" alt="">

    </div>


</div>
