<div class="container text-align-center">
    <h1>{{city}} Texas</h1>
    <hr>

    <div class="left">
        <h5>Weather: {{status[0].description}}</h5>
        <h5>Humidity: {{weather.humidity}}</h5>
        <h5>Current Temp: {{weather.temp}} &#8457;</h5>
        <h5>Temp High: {{weather.temp_max}} &#8457;</h5>
        <h5>Temp Low: {{weather.temp_min}} &#8457;</h5>

    </div>

    <div class="right">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Dallas-720764_1280.jpg/1200px-Dallas-720764_1280.jpg" alt="">

    </div>


</div>


<!-- {"coord":{"lon":-96.78,"lat":32.77},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"base":"stations","main":{"temp":83.03,"feels_like":84.54,"temp_min":80.6,"temp_max":84.99,"pressure":1012,"humidity":58},"visibility":16093,"wind":{"speed":8.05,"deg":250},"clouds":{"all":75},"dt":1590166812,"sys":{"type":1,"id":3783,"country":"US","sunrise":1590146631,"sunset":1590197048},"timezone":-18000,"id":4684904,"name":"Dallas","cod":200} -->